<div class="row">

    <div *ngFor="let item of gifsInCardList" class="col-md-3 col-sm-6">

        <div class="card mb-2 text-center bg-dark">

            <img
            [src]="item.images.downsized_medium.url"
            [alt]="item.title"
            class="card-image-top"
            >

            <div class="card-body text-light">


                <div class="card-text">
                    {{ item.title }}
                </div>

            </div>

        </div>

    </div>
</div>
