<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="bi bi-universal-access-circle"></i> {{ pagename }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button routerLink="/home" type="button" class="btn btn-sm btn-outline-secondary">Home</button>
            <button routerLink="/about" type="button" class="btn btn-sm btn-outline-secondary">About</button>
        </div>
        <!-- <button type="button"
                class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                <i class="bi bi-calendar-check"></i>
                This week
            </button> -->
    </div>
</div>

<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->


<div class="col-12 col-md-6 col-lg-3">
    <div class="input-group input-group-lg mb-4">
        <!-- <span class="input-group-text" id="inputGroup-sizing-lg">Large</span> -->
        <input
            placeholder="Type here and press enter"
            type="text"
            class="form-control"
            aria-label="text input"
            aria-describedby="inputGroup-sizing-lg"
            (keyup.enter)="emitValue1( queryInput.value )"
            #queryInput
        >
    </div>
    <hr>
</div>
