<div class="my-2">
    <span class="text-info">{{ countries.length }} results.</span>
</div>
<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">flag</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Capital</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of countries; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.flag }}</td>
                <td>{{ item.name.common }}</td>
                <td>{{ item.cca3 }}</td>
                <td>{{ item.capital }}</td>
                <td><a [routerLink]="[ '/countries/p', item.cca3 ]" >View</a></td>
            </tr>

        </tbody>
    </table>
</div>
