<ng-template #loading>
    <div class="alert alert-info text-center">
        <div class="spinner-border text-info" role="status"></div> <span class="text-info"> Loading...</span>
    </div>
</ng-template>




<div *ngIf="country1; else loading">
    <div class="row">
        <div class="col-12">
            <h3>Country: {{ country1.name.common }}</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <h3>Flag</h3>
        <img [src]="country1?.flags?.svg" [alt]="" class="img-thumbnail">
    </div>
    <div class="col">
        <h3>Details: </h3>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Population: </strong>{{ country1?.population | number }}
            </li>
            <li class="list-group-item">
                <strong>Code: </strong>{{ country1?.cca3 }}
            </li>
        </ul>
    </div>

    <div class="row mt-2">
        <div class="col">
            <h3>Traductiones</h3>
            <div class="d-flex flex-wrap">
                <span class="badge bg-primary m-1">{{ country1?.translations?.['deu']?.common }}</span>
                <span class="badge bg-primary m-1">{{ country1?.translations?.['spa']?.common }}</span>
                <span class="badge bg-primary m-1">{{ country1?.translations?.['deu']?.common }}</span>
                <span class="badge bg-primary m-1">{{ country1?.translations?.['fra']?.common }}</span>
            </div>
        </div>
    </div>

</div>
