<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section class="mb-4">
            <hr class="text-light">
            <div>
                <span>I do not claim the creation of any this characters. I am not the owner,</span><br>
                <span> I do not generate income in any way from this.</span><br>
                <span> this site, uses the public api with data created at 2017.</span><br>
                <span>This is an experimental app, created in angular for learning purposes only.</span><br>
                <span>The data, might not be updated.</span><br>
            </div>
        </section>
    </div>
</footer>
